* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-size: 400% 400%;
    animation: gradientShift 10s infinite;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: darkslategray;
    color: #FFFFFF;
    background-image: url('livingroom.jpg');
    background-size: cover;
    backdrop-filter: blur(8px); /* Apply the blur effect to the background */
  }

.container {
    background-color:#b68730c7; /* Slightly darker container background color */
    width: 500px;
    position: absolute;
    left: 35%;
    padding: 20px;
    top: 10%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Light shadow effect */
}

input[type=text],
input[type=phone],
input[type=email] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    background: #1d1f24; /* Dark input background color */
    color: #ffffff; /* Light text color */
}

input[type=text]:focus,
input[type=phone]:focus,
input[type=email]:focus {
    background-color: #444; /* Slightly lighter background color on focus */
    outline: none;
}

.registerbtn {
    background-color: #007bff; /* Blue button color */
    color: #ffffff;
    margin: 8px 0;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: #00bfff; /* Light blue link color */
}

.signin {
    background-color: #2d3039; /* Slightly darker sign-in background color */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); /* Light shadow effect */
}

.gender_g {
    display: flex;
}
