<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add  QUESTIONS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <h4 style="text-align: center;">Format for QuizID - 1 , 2 , 3.... </h4>
       
    <div class="container">
       <form action="/addquestionss"  >
   <h3>ADD QUESTION</h3>
   
    <hr>

    <label for="Qname"><b>ENTER QUESTION</b></label>
    <input type="text" placeholder="Enter Question here" name="Qname" id="Qname" required>
  
  <label for="op1"><b>ENTER OPTION 1</b></label>
    <input type="text" placeholder="Enter Option1 here" name="op1" id="op1" required>

   <div class="gender_g">
     <strong>is option 1 correct : </strong>
     <input type="radio" name="iscorrect1" id="" value="1"> correct
     <input type="radio" name="iscorrect1" id=""  value="0"> wrong
  </div> <br>

 <label for="op2"><b>ENTER OPTION 2</b></label>
    <input type="text" placeholder="Enter Option2 here" name="op2" id="op2" required>

   <div class="gender_g">
     <strong>is option 2 correct : </strong>
     <input type="radio" name="iscorrect2" id="" value="1"> correct
     <input type="radio" name="iscorrect2" id=""  value="0"> wrong
  </div> <br>

   <label for="op3"><b>ENTER OPTION 3</b></label>
    <input type="text" placeholder="Enter Option3 here" name="op3" id="op3" required>

   <div class="gender_g">
     <strong>is option 3 correct : </strong>
     <input type="radio" name="iscorrect3" id="" value="1"> correct
     <input type="radio" name="iscorrect3" id=""  value="0"> wrong
  </div> <br>

 <label for="op4"><b>ENTER OPTION 4</b></label>
    <input type="text" placeholder="Enter Option 4 here" name="op4" id="op4" required>

   <div class="gender_g">
     <strong>is option 4 correct : </strong>
     <input type="radio" name="iscorrect4" id="" value="1"> correct
     <input type="radio" name="iscorrect4" id=""  value="0"> wrong
  </div> <br>

    <label for="qz-id"><b>Quiz Id </b></label>
    <input type="text" placeholder="Enter quiz Id" name="quizid" value="{{quiz_id}}" id="quizid" required>
   
   
  
    <button type="submit" class="registerbtn">ADD Question</button>

   <a href="/index" style="color:black">BACK TO HOME PAGE</a> <br>

     
     {{#if mesg}}
     <h3>Data Inserted , now you can add more questions</h3><br>
          <h3><a href="/addtf" style="color:black">Add a true or false Question</a> <br> 
           <a href="/addoption" style="color:black">Add a multiple choice Question</a> <br> </h3>
    
    
     {{/if}}

      {{#if checkmesg}}
     <h3>question already present!  </h3>
     <h3><a href="/addtf" style="color:black">Add a true or false Question</a> <br> 
           <a href="/addoption" style="color:black">Add a multiple choice Question</a> <br> </h3>
    
     {{/if}}
      {{#if errmesg}}
     <h3>something went wrong</h3>
     <h3><a href="/addtf" style="color:black">Add a true or false Question</a> <br> 
           <a href="/addoption" style="color:black">Add a multiple choice Question</a> <br> </h3>
    
     {{/if}}
</form>
</div>
</body>
</html>